<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="<%= css %>" />
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js'></script>
</head>
<body>
  <div id="area">
    <div class='file-header'>
      <%= current.file.sourceFile %>
    </div>

    <table cellpadding="0" cellspacing="0" class="extension-<%= current.file.extension %>">
      <thead>
        <tr>
          <th class="docs">
          </th>
          <th class="code">
          </th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
          <% var section = sections[i]; %>
          <% var klass = ''; %>
          <% if (section.headings.length > 0) { klass += 'heading'; } %>

          <tr id="<%= section.anchor %>" class="<%= klass %>">
            <td class="docs">
              <div class="pilwrap">
                <a class="pilcrow" href="#<%= section.anchor %>">&#182;</a>
              </div>
              <%= section.docsHtml %>
            </td>
            <td class="code">
              <%= section.codeHtml %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div id="sidebar">
    <div class='header search'>
      <input type='text' name='search' id='search-box' placeholder='Search...' />
    </div>

    <div class='header tabs'>
      <button class='active' data-tab='pages'>Pages</button>
      <button data-tab='files'>Files</button>
    </div>

    <div class='scroll-area'>
      <div class='list pages'>
        <ul>
          <% for (var i in project.pages) { if (project.pages.hasOwnProperty(i)) { %>
            <% var page = project.pages[i]; %>
            <% var file = project.files[page.htmlFile]; %>
            <li class='page'>
              <a href='<%= root + file.htmlFile %>'><%= page.title %></a>
              <ul>
                <% for (var j=0, len=page.headings.length; j<len; ++j) { %>
                  <% var heading = page.headings[j]; %>
                  <% if (heading.level === 1) { continue; } %>
                  <li class='heading level-<%= heading.level %>'>
                    <a href="<%= root + file.htmlFile + '#' + heading.anchor %>">
                      <%= heading.title %>
                    </a>
                  </li>
                <% } %>
              </ul>
            </li>
          <% } } %>
        </ul>
      </div>

      <div class='list files hidden'>
        <ul>
        <% for (var i in project.files) { if (project.files.hasOwnProperty(i)) { %>
          <% var file = project.files[i]; %>
          <% var isActive = (current.file.htmlFile === file.htmlFile) ? 'active' : ''; %>
          <li class='file'>
            <a href='<%= root + file.htmlFile %>#f' class='<%= isActive %>'>
              <%= file.sourceFile %>
            </a>
          </li>
        <% } } %>
        </ul>
      </div>
    </div>

  </div>
  <script src='<%= root %>script.js'></script>
</body>
</html>
