<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="<%= css %>" />
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js'></script>
</head>
<body>
  <div id="area">
    <div class='file-header'>
      <% if (sourceUrl) { %>
        <a href="<%= sourceUrl %>">
          <strong><%= current.file.sourceFile %></strong>
          <small>View source</small>
        </a>
      <% } else { %>
        <button>
          <small>File:</small>
          <strong><%= current.file.sourceFile %></strong>
        </button>
      <% } %>
    </div>

    <table cellpadding="0" cellspacing="0" class="extension-<%= current.file.extension %>">
      <thead>
        <tr>
          <th class="docs">
          </th>
          <th class="code">
          </th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
          <% var section = sections[i]; %>
          <% var klass = ''; %>
          <% if (section.headings.length > 0) { klass += 'heading'; } %>

          <tr id="<%= section.anchor %>" class="<%= klass %>">
            <td class="docs">
              <div class="pilwrap">
                <a class="pilcrow" href="#<%= section.anchor %>">&#182;</a>
              </div>
              <%= section.docsHtml %>
            </td>
            <td class="code">
              <%= section.codeHtml %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <% if (options.github && current.file.htmlFile === 'index.html') { %>
    <div class='fork-me-on-github'>
      <a href='https://github.com/<%= options.github %>'>
        <span>Fork me on Github</span>
      </a>
    </div>
    <% } %>

  </div>

  <div id="sidebar">
    <div class='header search'>
      <input type='text' name='search' id='search-box' placeholder='Search...' />
    </div>

    <div class='header tabs'>
      <button class='active' data-tab='pages'>Pages</button>
      <button data-tab='files'>Files</button>
    </div>

    <div class='scroll-area'>
      <div class='list pages'>
        <% if (reference.page) { %>
          <% var node = reference.page.node; %>

          <% if (node.ancestors.length > 0) { %>
            <% var ancestors = node.ancestors; %>
            <ul class='breadcrumbs'>
              <% for (var j=0, len=ancestors.length; j<len; ++j) { %>
                <% var _node = ancestors[j]; %>

                <li class='page back'>
                <% if (_node.page) { %>
                  <a href='<%= root + _node.file.htmlFile %>'><%= _node.title %></a>
                <% } else { %>
                  <span class='a'><%= _node.title %></span>
                <% } %>
              <% } %>
            </ul>
          <% } %>

          <ul class='current-page'>
            <% var page = reference.page; %>
            <% var file = page.file; %>

            <!-- The page and its headings -->
            <li class='page has-children level-0'>
              <a href='<%= root + file.htmlFile %>'><%= page.title %></a>
              <ul>
                <% for (var j=0, len=page.headings.length; j<len; ++j) { %>
                  <% var heading = page.headings[j]; %>
                  <% if (heading.level === 1) { continue; } %>
                  <li class='heading level-<%= heading.level %>'>
                    <a href="#<%= heading.anchor %>">
                      <%= heading.title %>
                    </a>
                  </li>
                <% } %>
              </ul>
            </li>
          </ul>

          <ul class='reference'>

            <!-- Subpages of the ref -->
            <% var paths = reference.pageTree.paths; %>

            <% function showPath(paths, level, c) { %>
              <% for (var i in paths) { if (paths.hasOwnProperty(i)) { %>
                <% var path = paths[i]; %>
                <% var page = path.page; %>
                <% var file = page ? page.file : null; %>
                <% var hasChildren = true; %>

                <li class='page <%= hasChildren ? "has-children" : "" %> level-<%= level+1 %>'>
                  <!-- The subpage -->
                  <% if (!page) { %>
                    <span class='a'><%= path.title %></span>
                  <% } else { %>
                    <a href='<%= c.root + file.htmlFile %>'><%= path.title %></a>
                  <% } %>

                  <!-- Subpages of subpages -->
                  <% if ((level === 0) && (hasChildren)) { %>
                    <ul>
                      <% showPath(path.paths, level + 1, c); %>
                    </ul>
                  <% } %>
                </li>
              <% } } %>
            <% } %>

            <% showPath(paths, 0, {project:project, root:root}); %>

          </ul>
        <% } else { %>
        no page
        <%= JSON.stringify(current.page) %>
        <% } %>
      </div>

      <div class='list files hidden'>
        <% function tree(node, level, current, root, files) { %>
          <li class='level-<%= level %>'>
            <% var file = node.file; %>
            <% if (!file) { %>
              <% var isExpanded = current.file.htmlFile.indexOf(node.name) > -1; %>
              <button class='item folder <%= isExpanded ? "expanded" : "" %>'>
                <i></i>
                <%= node.name %>
              </button>
              <ul class='<%= isExpanded ? "" : "hidden" %>'>
                <% for (var i in node.paths) { if (node.paths.hasOwnProperty(i)) { %>
                  <%= tree(node.paths[i], level + 1, current, root, files) %>
                <% } } %>
              </ul>
            </li>
            <% } else { %>
              <% var isActive = (current.file === file) ? 'active' : ''; %>
              <a href='<%= root + file.htmlFile %>#f' class='item file <%= isActive %>'>
                <i></i>
                <%= file.baseSourceFile %>
              </a>
            <% } %>
          </li>
        <% } %>

        <ul>
        <% for (var i in project.fileTree.paths) { if (project.fileTree.paths.hasOwnProperty(i)) { %>
          <%= tree(project.fileTree.paths[i], 1, current, root, project.files) %>
        <% } } %>
        </ul>

      </div>
    </div>

  </div>

  <script src='<%= root %>script.js'></script>
</body>
</html>
