<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="<%= css %>" />
</head>
<body>
  <div id="header">
  </div>

  <div id="area">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th class="docs">
          </th>
          <th class="code">
          </th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
          <% var section = sections[i]; %>
          <tr id="<%= section.anchor %>">
            <td class="docs">
              <div class="pilwrap">
                <a class="pilcrow" href="#<%= section.anchor %>">&#182;</a>
              </div>
              <%= section.docsHtml %>
            </td>
            <td class="code">
              <%= section.codeHtml %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div id="sidebar">
    <div class='header'>
      <button class='active'>Pages</button>
      <button>Files</button>
    </div>

    <div class='list files hidden'>
    </div>

    <div class='list pages'>
      <% for (var i in project.pages) { if (project.pages.hasOwnProperty(i)) { %>
        <% var page = project.pages[i]; %>
        <% var file = project.files[page.file]; %>
        <li>
          <a href='<%= root + file.htmlFile %>'><%= page.title %></a>
          <ul>
            <% for (var j=0, len=page.headings.length; j<len; ++j) { %>
              <li>
                <a href="<%= root + file.htmlFile + '#' + page.headings[j].anchor %>">
                  <%= page.headings[j].title %>
                </a>
              </li>
            <% } %>
          </ul>
        </li>
      <% } } %>
    </div>

  </div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js'></script>
</body>
</html>
