sidebar-width = 200px;
@import 'nib';

/*--------------------- Layout and Typography ----------------------------*/
body {
  font-size: 15px;
  line-height: 22px;
  color: #252519;
  margin: 0; padding: 0;
}
body, td {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}
button, input, textarea {
  font-family: sans-serif;
}
button {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
a {
  color: #261a3b;
}
a:visited {
  color: #261a3b;
}
p {
  margin: 0 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px 0 15px 0;
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px;
}
tr.heading td {
  padding-top: 30px;
}
h1 {
  margin-top: 40px;
}
hr {
    border: 0 none;
    border-top: 1px solid #e5e5ee;
    height: 1px;
    margin: 20px 0;
}
table td {
  border: 0;
  outline: 0;
}
td.docs, th.docs {
  max-width: 450px;
  min-width: 450px;
  min-height: 5px;
  padding: 10px 25px 1px 50px;
  overflow-x: hidden;
  vertical-align: top;
  text-align: left;
}
.docs pre {
  margin: 15px 0 15px;
  padding-left: 15px;
  color: #8080a7;
}
.docs tt, .docs code {
  background: #f8f8ff;
  border: 1px solid #dedede;
  font-size: 12px;
  padding: 0 0.2em;
}
.docs pre code {
  background: transparent;
  border: 0;
  font-size: 1em;
  padding: 0;
}
.pilwrap {
  position: relative;
}
.pilwrap + * {
  margin-top: 0 !important;
}
.pilcrow {
  font: 10px Arial;
  text-decoration: none;
  position: absolute;
  top: 3px; left: -30px;
  padding: 3px 6px;

  background: #ccc;
  color: #fff;
  border-radius: 18px;

  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
}
.pilcrow,
.pilcrow:visited {
  color: #fff;
}
.pilcrow:hover {
  background: #888;
}
tr:hover .pilcrow,
td.docs:hover .pilcrow {
  opacity: 1;
}
td.code, th.code {
  padding: 14px 15px 16px 25px;
  width: 100%;
  vertical-align: top;
  background: #f5f5ff;
  border-left: 1px solid #e5e5ee;
}
pre, tt, code {
  font-size: 12px; line-height: 18px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

/*---------------------- Syntax Highlighting -----------------------------*/
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
body .hll { background-color: #ffffcc }
body .c { color: #408080; font-style: italic }  /* Comment */
body .err { color: #CC3333 }                    /* Error */
body .k { color: #954121 }                      /* Keyword */
body .o { color: #666666 }                      /* Operator */
body .cm { color: #408080; font-style: italic } /* Comment.Multiline */
body .cp { color: #BC7A00 }                     /* Comment.Preproc */
body .c1 { color: #408080; font-style: italic } /* Comment.Single */
body .cs { color: #408080; font-style: italic } /* Comment.Special */
body .gd { color: #A00000 }                     /* Generic.Deleted */
body .ge { font-style: italic }                 /* Generic.Emph */
body .gr { color: #FF0000 }                     /* Generic.Error */
body .gh { color: #000080; font-weight: bold }  /* Generic.Heading */
body .gi { color: #00A000 }                     /* Generic.Inserted */
body .go { color: #808080 }                     /* Generic.Output */
body .gp { color: #000080; font-weight: bold }  /* Generic.Prompt */
body .gs { font-weight: bold }                  /* Generic.Strong */
body .gu { color: #800080; font-weight: bold }  /* Generic.Subheading */
body .gt { color: #0040D0 }                     /* Generic.Traceback */
body .kc { color: #954121 }                     /* Keyword.Constant */
body .kd { color: #954121; font-weight: bold }  /* Keyword.Declaration */
body .kn { color: #954121; font-weight: bold }  /* Keyword.Namespace */
body .kp { color: #954121 }                     /* Keyword.Pseudo */
body .kr { color: #954121; font-weight: bold }  /* Keyword.Reserved */
body .kt { color: #B00040 }                     /* Keyword.Type */
body .m { color: #666666 }                      /* Literal.Number */
body .s { color: #219161 }                      /* Literal.String */
body .na { color: #7D9029 }                     /* Name.Attribute */
body .nb { color: #954121 }                     /* Name.Builtin */
body .nc { color: #0000FF; font-weight: bold }  /* Name.Class */
body .no { color: #880000 }                     /* Name.Constant */
body .nd { color: #AA22FF }                     /* Name.Decorator */
body .ni { color: #999999; font-weight: bold }  /* Name.Entity */
body .ne { color: #D2413A; font-weight: bold }  /* Name.Exception */
body .nf { color: #0000FF }                     /* Name.Function */
body .nl { color: #A0A000 }                     /* Name.Label */
body .nn { color: #0000FF; font-weight: bold }  /* Name.Namespace */
body .nt { color: #954121; font-weight: bold }  /* Name.Tag */
body .nv { color: #19469D }                     /* Name.Variable */
body .ow { color: #AA22FF; font-weight: bold }  /* Operator.Word */
body .w { color: #bbbbbb }                      /* Text.Whitespace */
body .mf { color: #666666 }                     /* Literal.Number.Float */
body .mh { color: #666666 }                     /* Literal.Number.Hex */
body .mi { color: #666666 }                     /* Literal.Number.Integer */
body .mo { color: #666666 }                     /* Literal.Number.Oct */
body .sb { color: #219161 }                     /* Literal.String.Backtick */
body .sc { color: #219161 }                     /* Literal.String.Char */
body .sd { color: #219161; font-style: italic } /* Literal.String.Doc */
body .s2 { color: #219161 }                     /* Literal.String.Double */
body .se { color: #BB6622; font-weight: bold }  /* Literal.String.Escape */
body .sh { color: #219161 }                     /* Literal.String.Heredoc */
body .si { color: #BB6688; font-weight: bold }  /* Literal.String.Interpol */
body .sx { color: #954121 }                     /* Literal.String.Other */
body .sr { color: #BB6688 }                     /* Literal.String.Regex */
body .s1 { color: #219161 }                     /* Literal.String.Single */
body .ss { color: #19469D }                     /* Literal.String.Symbol */
body .bp { color: #954121 }                     /* Name.Builtin.Pseudo */
body .vc { color: #19469D }                     /* Name.Variable.Class */
body .vg { color: #19469D }                     /* Name.Variable.Global */
body .vi { color: #19469D }                     /* Name.Variable.Instance */
body .il { color: #666666 }                     /* Literal.Number.Integer.Long */

/* Different extensions */
table.extension-md td.code,
table.extension-md th.code {
  background: transparent;
  border-left: 0;
}

table.extension-md td.docs,
table.extension-md th.docs {
  min-width: 650px;
  max-width: 650px;
}

table.extension-md td.docs pre {
  background: #fafafa;
  padding: 15px;
  color: #707090;
  border: solid 1px #ddd;
  border-radius: 3px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.05);

  overflow-x: auto;
}

/* Misc */
.hidden {
  display: none;
}

/* Layout */
html, body {
  height: 100%;
  overflow: hidden;
}

#area {
  min-height: 100%;
}

body #area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: sidebar-width;
  overflow: auto;
}

body #sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px + 46px + 10px;
  width: sidebar-width;
  z-index: 1;
}

/* Style: sidebar */
#sidebar {
  border-radius: 4px;
  border: solid 1px #ccc;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* Style: Header */
header-bg() {
  background: #eee;
  background-image: -webkit-linear-gradient(top, #eee, #ddd);
  background-image: -moz-linear-gradient(top, #eee, #ddd);
  background-image: linear-gradient(top, #eee, #ddd);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}

#header, #sidebar .header {
  header-bg();
}

/* Style: search box */
.header.search {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.header.search input {
  box-sizing: border-box;

  width: sidebar-width - 20px;
  height: 24px;
  border-radius: 15px;
  border: 0;
  padding: 0 14px;

  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.header.search input:focus {
  outline: 0;
}

/* Style: tabs */
.header.tabs {
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.header.tabs button {
  display: inline-block;

  position: relative;
  top: -2px;

  height: 20px;
  line-height: 20px;

  font-size: 8pt;
  color: #555;
  font-weight: bold;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 0 15px;
}

.header.tabs button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.header.tabs button.active,
.header.tabs button:active {
  color: #eee;
  background-color: #555;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.6);
}

.header.tabs button:active {
  color: #eee;
  background-color: #35a;
}

/* Style: Sidebar */
#sidebar {
  background: #fafafa;
}

#sidebar .header {
  position: absolute;
  left: 0;
  right: 0;
}

#sidebar .header.search {
  top: 0;
  height: 36px;
}
#sidebar .header.tabs {
  top: 36px;
  height: 36px;
}

#sidebar .scroll-area {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-y: auto;
  overflow-x: hidden;
}

/* Sidebar lists */
.list ul, .list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list {
  font-size: 9pt;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  padding-top: 10px;
}

.list a, .list button {
  font-family: sans-serif;
  text-decoration: none;

  display: block;
  padding: 2px 20px;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;

  &:hover {
    background: rgba(50, 100, 200, 0.04);
  }
  &.active {
    background: #aaa;
    background-image: linear-gradient(top, #aaa, #9a9a9a);
    color: white;
    text-shadow: 0 1px 0 rgba(black, 0.2);
  }
  &:active {
    background: rgba(0, 0, 0, 0.2);
  }
}

/* For files */
.files.list {
  button {
    font-weight: bold;
  }
  /* Disclosure triangle */
  button:before {
    content: '';
    display: block;
    float: left;
    width: 0;
    height: 0;
    border: solid 4px transparent;
    border-left-color: #999;
    margin-right: 5px;

    position: relative;
    top: 5px;
    left: 2px;
  }
  button.expanded:before {
    top: 7px;
    left: 0;
    border-top-color: #999;
    border-left-color: transparent;
  }
  /* Spacing for files */
  a:before {
    content: '';
    display: block;
    float: left;
    width: 14px;
    height: 1px;
  }
  li.level-2 .item {
    padding-left: 30px;
  }
  li.level-3 .item {
    padding-left: 40px;
  }
  li.level-4 .item {
    padding-left: 50px;
  }
  li.level-5 .item {
    padding-left: 60px;
  }
}


/* Pages */
.list li.page > a {
  color: #36a;
  font-size: 1.2em;

  padding-top: 2px;
  padding-bottom: 2px;
}
.list li.page > ul {
  padding: 0 0 10px 0;
}

/* Function names */
.list li.heading > a {
  font-size: 0.9em;
  color: #777;
  padding-left: 30px;
}

/* Groups */
.list li.heading.level-2 > a {
  text-transform: uppercase;
  font-size: 0.8em;
  padding-left: 20px;
}

/* ============================================================================
 * File header */

.file-header {
  width: sidebar-width;

  /* background: #fafafa; */
  /* border-radius: 3px; */
  /* border: solid 1px #ccc; */
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); */

  height: 40px;
  line-height: 20px;

  font-family: sans-serif;
  color: #9090a0;
  font-size: 8pt;

  position: fixed;
  bottom: 10px;
  left: 10px;

  a, button {
    text-decoration: none;
    display: block;
    width: 100%;
    box-sizing: border-box;

    text-align: left;
    line-height: 1.4;

    padding-right: 36px;
    padding-top: 3px;
    position: relative;
  }

  a, button {
    &:before {
      content: '';
      float: left;
      width: 24px;
      height: 24px;
      background: #ddd;
      absolute: right 0 top 3px;
      border-radius: 4px;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }
  }

  strong, small {
    display: block;
    overflow: hidden;
    height: 14px;
    line-height: 14px;
    text-align: right;
  }
  strong {
    color: #9090a0;
    font-weight: normal;
  }
  small {
    font-weight: bold;
  }
}

/* Scroll */
.scroll-area {
  box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.12);
}
.scroll-area::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.scroll-area::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 8px;
  border: solid 4px #fafafa;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
}
.scroll-area:hover::-webkit-scrollbar-thumb {
  background: #999;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
}
